//
//  Secrets.xcconfig
//  Meowdex
//
//  Created by Johnnie on 28/06/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY=live_8vFdCKjCcBCyTOFFlEw1el88HFNoCUYZ8LGdw5MZP0LveykysH5sSv7YjnDJXLmU
